*::-webkit-scrollbar {
    width: 0.8rem;
  }
  *::-webkit-scrollbar-track {
    background: #deae70;
  }
  *::-webkit-scrollbar-thumb {
    background-color:#e781ab;
    border-radius: 20px;
    border: 3px solid #deae70;
  }

body {
    font-family:"Garamond";
    background-image: url(Avatar-the-Last-Airbender-Computer-Wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1{
    font-family: "herculanum";
}


.container {
    max-width: 25rem;
    max-height: 15rem;
    min-height: 15rem;
    margin: auto auto;
    padding: 2rem;
    background-color: #5e928d;
    border-radius: 0.5rem;
}

.addTodoItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75rem;
}

.inputField {
    border-style: none;
    border-radius: 2.5px;
    margin-right: 2px;

}

button {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    border-style: none;
    background-color: #deae70;
    font-weight: bold;
    margin: 0.3rem;
}

.listBox{
    border-style:inset;
    border-color: #deae70;
    padding: 0 0.3rem;
   height:10rem;
    overflow-y: auto;
}

.todoItemContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.buttonsContainer {
    display: flex;
}

.buttonsContainer button {
    margin-left: 0.5rem;
}
